<br class="mb-4">
<div>
    <h1>Thank you for your message</h1>
    <p class="mb-4"></p>
    <p>I will get back to you soon!</p>
    
    <%= link_to "Home", root_path, class: "btn btn-danger" %>
</div>
