<br/>
<div class="container">
    <ul>
        <li>
            <%= link_to "Random Quote Machine", free_code_camp_quotemachine_path %>
        </li>
        <li>    
            <%= link_to "Tribute Page", free_code_camp_tributepage_path %>
        </li>
    </ul>
</div>
