<br/>
<div class="container">
    <ul>
        <li>
            <a href="https://codepen.io/Jseitz88/details/GOpxKr/" target="_blank">Pomodora Clock</a>
        </li>
        <li>
            <a href="https://codepen.io/Jseitz88/details/xPGQvr/" target="_blank">JavaScript Calculator</a>
        </li>
        <li>
            <a href="https://codepen.io/Jseitz88/details/gXbJJX/" target="_blank">Twitchtv JSON API</a> 
        </li>
        <li>
            <a href="https://codepen.io/Jseitz88/details/OOPdrz/" target="_blank">Wikipedia Viewer</a>  
        </li>
        <li>
            <a href="https://codepen.io/Jseitz88/details/eeYKVq/" target="_blank">Local Weather</a>
        </li>
        <li>
            <a href="https://codepen.io/Jseitz88/details/GOgXao/" target="_blank">Random Quote Machine</a>
        </li>
        <li>    
            <%= link_to "Tribute Page", free_code_camp_tributepage_path %>
        </li>
    </ul>
</div>
