<br/>
<div class="container">
    <ul>
        <li>
            <a href="https://codepen.io/Jseitz88/details/eeYKVq/" target="_blank">Local Weather</a>
        </li>
        <li>
            <a href="https://codepen.io/Jseitz88/details/GOgXao/" target="_blank">Random Quote Machine</a>
        </li>
        <li>    
            <%= link_to "Tribute Page", free_code_camp_tributepage_path %>
        </li>
    </ul>
</div>
