    <div class="jumbotron">
      <div class="container">
        <h1>Quote Machine</h1>
        
        <p class="lead">Click the button to show me a new random quote.</p>
        <hr class="my-4">
        
        <p class="lead">All quote taken from
        <a href="https://www.goodreads.com/quotes" target="_blank"> https://www.goodreads.com/quotes</a>
        </p>
       
       <%= link_to "Go back", root_path, class: "btn btn-success" %> 
       
       <button class="btn btn-info" onclick="getNumber()">Get Random Quote!</button>
      </div>
      
   
    </div>
    
     <h1 id ="quote" class="text-center"></h1>
