<div class="container">
      <div class="jumbotron" style="color: white; background: #A445FF linear-gradient(136.51deg, #5599E8 0%, #9258FA 77.64%, #9951FC 86.04%, #9F4AFE 94.19%, #A445FF 100%);">
      <h1 class="display-3">Elon Musk</h1>
      <p class="lead">The man who redefine transportation on earth and in space.</p>
      <hr class="my-4">
      <p>All information taken for wikipedia</p>
      <p class="lead">
      <a style="color: white;" href="https://en.wikipedia.org/wiki/Elon_Musk" target="_blank">Learn more about Elon Musk</a>
      </p>
      
      <ul style="color: #000;" class="list-group">
        <li class="list-group-item">Musk was born on June 28, 1971, in Pretoria, Transvaal, South Africa.</li>
        <li class="list-group-item">At the age of 17, Musk was accepted into Queen's University in Kingston, Ontario, for undergraduate study.</li>
        <li class="list-group-item">In 1995, Musk and his brother, Kimbal, started Zip2, a web software company, with US$28,000 of their father's money.</li>
        <li class="list-group-item">In March 1999, Musk co-founded X.com, an online financial services and e-mail payment company, with US$10 million from the sale of Zip2.</li>
        <li class="list-group-item">In 2001, Musk conceptualized "Mars Oasis"; a project to land a miniature experimental greenhouse on Mars, containing food crops growing on Martian regolith, in an attempt to regain public interest in space exploration.</li>
        <li class="list-group-item">Tesla, Inc. (originally Tesla Motors) was incorporated in July 2003 by Martin Eberhard and Marc Tarpenning, who financed the company until the Series A round of funding.</li>
        <li class="list-group-item">Musk provided the initial concept and financial capital for SolarCity, which was then co-founded in 2006 by his cousins Lyndon and Peter Rive.[104][105] SolarCity is now the second largest provider of solar power systems in the United States.</li>
        <li class="list-group-item">On August 12, 2013, Musk unveiled a concept for a high-speed transportation system incorporating reduced-pressure tubes in which pressurized capsules ride on an air cushion driven by linear induction motors and air compressors.</li>
        <li class="list-group-item">In December 2015, Elon Musk announced the creation of OpenAI, a not-for-profit artificial intelligence (AI) research company. OpenAI aims to develop artificial general intelligence in a way that is safe and beneficial to humanity.</li>
        <li class="list-group-item">In 2016, Musk co-founded Neuralink, a neurotechnology startup company, to integrate the human brain with artificial intelligence.</li>
        <li class="list-group-item">On December 17, 2016, while stuck in traffic, Musk tweeted "Am going to build a tunnel boring machine and just start digging..." The company was named 'The Boring Company'.</li>
      </ul>
      
      </div>

</div>


