/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 */

.bottom-border {
    color: #7D1D3F !important;
    border-style: solid; 
    border-width: 0 0 3px 0; 
    border-color: #7D1D3F;
}

.nav-link {
    border-style: solid; 
    border-width: 0 0 3px 0;
    border-color: transparent;
}

.nav-link:hover {
    color: #7D1D3F !important;
    border-style: solid; 
    border-width: 0 0 3px 0; 
    border-color: #7D1D3F;
}

.navbar {
    border-style: solid; 
    border-width: 0 0 3px 0; 
    border-color: #7D1D3F;
}

.box {
  border-style: solid; 
  border-width: 3px 3px 3px 3px; 
  border-color: white;
  border-radius: 10px;
 
}
          
.box:hover {
  border-left-color: #7D1D3F;
  border-right-color: #7D1D3F;
}

.linear-gradient-blue{
    background: #1ECDCE linear-gradient(to top left, #48A7D1 0%, #1ECDCE 100%);
}

.linear-gradient-red {
    background: #FF21D1 linear-gradient(to bottom right, #FF7400 0%, #FF21D1 100%);
}

.linear-gradient-purple {
    background: #4D5CC8 linear-gradient(101.12deg, #9E4FE0 0%, #4D5CC8 100%);
}

.box-animation {
   transition: 1s ease-in-out;
   transform: rotateX(360deg);
}