/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 */
body > .container {
    padding-top: 60px;
}

.bottom-border {
    color: #7D1D3F !important;
    border-style: solid; 
    border-width: 0 0 3px 0; 
    border-color: #7D1D3F;
}

.nav-link {
    border-style: solid; 
    border-width: 0 0 3px 0;
    border-color: transparent;
}

.nav-link:hover {
    color: #7D1D3F !important;
    border-style: solid; 
    border-width: 0 0 3px 0; 
    border-color: #7D1D3F;
}

.navbar {
    border-style: solid; 
    border-width: 0 0 3px 0; 
    border-color: #7D1D3F;
}

.box {
  border-style: solid; 
  border-width: 3px 3px 3px 3px; 
  border-color: white;
  border-radius: 10px;
 
}
          
.box:hover {
  border-left-color: #7D1D3F;
  border-right-color: #7D1D3F;
  opacity: 0.8;
  cursor: pointer;
}

.linear-gradient-blue{
    background: #f7e28b linear-gradient(to top left, #cf396f 0%, #f7e28b 100%);
}

.linear-gradient-red {
    background: #fd0f77 linear-gradient(to top left, #61258a 0%, #fd0f77 100%);
}

.linear-gradient-purple {
    background: #ffb849 linear-gradient(to top left, #d20b54 0%, #ffb849 100%);
}

.linear-gradient-grey {
    background: #e3e0e0  linear-gradient(to top left, #7a7a7a 0%, #e3e0e0 100%);
}

.box-animation {
    transform: rotateX(360deg);
    transition: 1s ease-in-out;
}

.self-animation {
    transform: rotateY(360deg);
    transition: 1.0s ease-in-out;
}

.font-nosifer {
    font-family: 'Nosifer', cursive;
}

.text-shadow {
    text-shadow: 1px 2px 3px grey;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}