<div class="container mt-5 mb-5">
    <div class="row text-center">
        <div class="col-sm-12">
            <h1>about me</h1>
        </div>
        <div class="col-sm-12">
            <%= image_tag("me.jpg", class: "profile_image", alt: "Joshua Seitz", width: "200px", height: "200px") %>
        </div>
        <div class="col-sm-12 mt-3">
            <p>Hello, nice to meet you. I enjoy web development and my skills range from MEAN stacks to Ruby on Rails. I also enjoy learning other programming languages, and willing to learn new skills. Just finished my Front End Development Certification from Free Code Camp on November, 2017. </p>
        </div>
        <div class="col-sm-12 mt-3">
            <h4>what I am good with</h4>
            <p>HTML, CSS, Bootstrap, JavaScript, jQuery</p>
            <p>Ruby, Ruby on Rails, MVC, Restful Routes</p>
        </div>
        
        <div class="col-sm-12 mt-3">
            <h4>what I am ok with</h4>
            <p>Git, GitHub, Java, SQL, MySQL, Linux</p>
            <p>MongoDB, ExpressJS, AngularJS, NodeJS</p>
        </div>
        
        <div class="col-sm-12 mt-3">
            <h4>what I am learning</h4>
            <p>React, AngularJS, Big O Notation</p>
        </div>
    </div>
</div>