
<div>
    
</div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-5 box" style="background: #1ECDCE linear-gradient(to top left, #48A7D1 0%, #1ECDCE 100%);">
            
            <p>.</p>
            
            <h1>under construction, come back in two months :)</h1>
            
            <p>.</p>
            
        </div>
    
        <div class="col-sm-7 box" style="background: #1ECDCE linear-gradient(to top left, #48A7D1 0%, #1ECDCE 100%); ">
            test box
        </div>
        
    </div>
    
    <div class="row">
        
    </div>
    
</div>



