
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-5 box linear-gradient-blue">
            <div class="container">
                <p>.</p>
            
                <h1>under construction, come back in two months :)</h1>
                
                <p>.</p>
            </div>
        </div>
    
        <div class="col-sm-7 box linear-gradient-blue">
            click me!! test box
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-sm-4 box linear-gradient-purple">
            <p>.</p>
            <p>.</p>
            <p>.</p>
        </div>
        <div class="col-sm-4 box linear-gradient-purple">
            <p>.</p>
            <p>.</p>
            <p>.</p>
        </div>
        <div class="col-sm-4 box linear-gradient-purple">
            <p>.</p>
            <p>.</p>
            <p>.</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-7 box linear-gradient-red">
            <p>.</p>
            test box 2
            <p>.</p>
            <br/>
        </div>
        
        <div class="col-sm-5 box linear-gradient-red">
            <p>.</p>
            test box 3
            <p>.</p>
            <br/>
        </div>
    </div>
    
</div>


