<div class="container">
    
    <div class="col col-md-12" style="background: #1ECDCE linear-gradient(to top left, #48A7D1 0%, #1ECDCE 100%);">
        <p>.</p>
        <h1>under construction, come back in two months :)</h1>
        <p>.</p>
    </div>
    
    <div style="background: #A445FF linear-gradient(136.51deg, #5599E8 0%, #9258FA 77.64%, #9951FC 86.04%, #9F4AFE 94.19%, #A445FF 100%);">

    </div>

</div>



