

<div class="container">
    <div class="row">
        <div id="box" class="col col-md-12" style="background: #1ECDCE linear-gradient(to top left, #48A7D1 0%, #1ECDCE 100%); ">
            
            <p>.</p>
            
            <h1>under construction, come back in two months :)</h1>
            
            <p>.</p>
            
        </div>
        
    </div>
    
</div>



