
<div>
    
</div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-5 box" style="background: #1ECDCE linear-gradient(to top left, #48A7D1 0%, #1ECDCE 100%);">
            
            <p>.</p>
            
            <h1>under construction, come back in two months :)</h1>
            
            <p>.</p>
            
        </div>
    
        <div class="col-sm-7 box" style="background: #1ECDCE linear-gradient(to top left, #48A7D1 0%, #1ECDCE 100%);">
            test box
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-sm-4 box" style="background: #4D5CC8 linear-gradient(101.12deg, #9E4FE0 0%, #4D5CC8 100%);">
            <p>.</p>
            <p>.</p>
            <p>.</p>
        </div>
        <div class="col-sm-4 box" style="background: #4D5CC8 linear-gradient(101.12deg, #9E4FE0 0%, #4D5CC8 100%);">
            <p>.</p>
            <p>.</p>
            <p>.</p>
        </div>
        <div class="col-sm-4 box" style="background: #4D5CC8 linear-gradient(101.12deg, #9E4FE0 0%, #4D5CC8 100%);">
            <p>.</p>
            <p>.</p>
            <p>.</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-7 box" style="background: #FF21D1 linear-gradient(to bottom right, #FF7400 0%, #FF21D1 100%);">
            <p>.</p>
            test box 2
            <p>.</p>
            <br/>
        </div>
        
        <div class="col-sm-5 box" style="background: #FF21D1 linear-gradient(to bottom right, #FF7400 0%, #FF21D1 100%);">
            <p>.</p>
            test box 3
            <p>.</p>
            <br/>
        </div>
    </div>
    
</div>



