<br/>
<div class="container">
    <div class="row">
        
        <div class="col-sm-5 box linear-gradient-blue" style="padding: 0; margin: 0;">
            <iframe width="100%" height="100%" style="padding: 0; margin: 0; border: 0; border-radius: 10px;"
                src="https://www.youtube.com/embed/aBkVkdj5aWs?rel=0&amp;controls=0&amp;showinfo=0">
            </iframe>
        </div>
        
        <div class="col-sm-7 box linear-gradient-blue">
            <div class="container">
                <br/>
                <h1 class="text-white text-center font-nosifer text-shadow">Welcome</h1>
                <h1 class="text-white text-center text-shadow">foofoo studio</h1>
                <br/>
            </div>

        </div>
        
    </div>
    
    <div class="row">
        <div class="col-sm-4 box self-ani linear-gradient-purple">
            <br/>
            <h2 class="text-white text-center font-nosifer text-shadow">Web Development</h2>
            <br/>
        </div>
        <div class="col-sm-4 box linear-gradient-purple">
            <br/>
            <h2 class="text-white text-center font-nosifer text-shadow">Web Rebuild</h2>
            <br/>
        </div>
        <div class="col-sm-4 box linear-gradient-purple">
            <br/>
            <h2 class="text-white text-center font-nosifer text-shadow">Web Maintenance</h2>
            <br/>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-7 box linear-gradient-red">
            <br/>
            <h1 class="text-white text-center text-shadow">Come back in 2 months!!</h1>
            <br/>
        </div>
        
        <div class="col-sm-5 box linear-gradient-red">
            <br/>
                <h1 class="text-white text-center text-shadow">under construction.</h1>
            <br/>
        </div>
    </div>
    
</div> <!--main container-->

